[Unit]
Description=Run ytTracker every minute

[Timer]
OnUnitActiveSec=30min
Unit=ytTracker.service
OnBootSec=30

[Install]
WantedBy=multi-user.target