[Unit]
Description=Update youtube video status to db
After=network.target

[Service]
ExecStart=/home/pi/Github/pyBot/dcBot-env/bin/python ytTracker.py
WorkingDirectory=/home/pi/Github/pyBot
Type=simple

User=pi

[Install]
WantedBy=multi-user.target
