[Unit]
Description=Update youtube video status to db
After=network.target

[Service]
ExecStart=/home/pi/Github/Vtuber-Forwarder/env/bin/python ytTracker.py
WorkingDirectory=/home/pi/Github/Vtuber-Forwarder
Type=simple

User=pi

[Install]
WantedBy=multi-user.target